body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to left, #4c2727, hsl(0, 100%, 4%));
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px; 
    border-radius: 20px; 
    background: linear-gradient(to right, #f0f0f0, hsl(0, 0%, 59%)); 
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    color: #6c0202;
    background-color: #ccc;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, #4c2727, hsl(0, 100%, 4%));
    color: #fff;
    padding: 20px 0;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the content horizontally */
}
.container {
    display: flex;
    align-items: center; /* Center the items vertically */
}

.container img {
    width: 65px; 
    margin-right: 5px; 
    margin-bottom: 20px;
}

.container h2 {
    margin: 10px;
}
#carouselExampleIndicators {
    max-width: 800px; /* Set a maximum width */
    margin: auto; /* Center the carousel */

}