<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agents</title>
    <link rel="stylesheet" href="/static/components/styles_agents.css">
   
</head>
<body>
    <header>
        <div class="container">
            <img src="/static/components/images/knight logo.png" alt="Knight Realty Logo">
            <h1>Knight Realty - Agents</h1>
        </div>
    </header>
    <nav>
        <div class="headercontainer">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/renting">Renting</a></li>
                <li><a href="/buying">Buying</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <section class="listings">
            <div class="container">
                <h2>Our Agents</h2>
                <!-- Agents' cards will be displayed here -->
                {% for agent in agents %}
                <div class="card">
                    <img src="/static/components/images/agent.png" alt="Property Image">
                    <div class="card-details">
                        <h3>{{ agent[0] }}</h3>
                        <p>Phone: {{ agent[1] }}</p>
                        <p>Email: {{ agent[2] }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Knight Realty. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
