<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Company</title>
    <link rel="stylesheet" href="/static/components/styles.css">

</head>
<body>
    <header>
        <div class="container">
            <img src="/static/components/images/knight logo.png " >
            <h1>Knight Realty</h1>
        </div>
    </header>
    <nav>
        <div class="container">
            <ul>
                <li><a href="/renting">Renting</a></li>
                <li><a href="/buying">Buying</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <section class="hero">
            <div class="container">
                <h2>Welcome to Our Real Estate Company</h2>
                <p>Find your dream home with us!</p>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Knight Realty. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
