<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent Listings</title>
    <link rel="stylesheet" href="/static/components/styles_renting.css">

</head>
<body>
    <header>
        <div class="container">
            <img src="/static/components/images/knight logo.png " >
            <h1>Knight Realty - Rent Listings</h1>
        </div>
    </header>
    <nav>
        <div class="container">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/buying">Buying</a></li>
            </ul>
        </div>
    </nav>
    
    <main>
        <section class="listings">
            <div class="listingcontainer">
                <h2>Properties for Rent</h2>
                <!-- Buying listings will be displayed here -->
                {% for property in properties %}
                <div class="card">
                    <img src="/static/components/images/house.jpeg" alt="Property Image">
                    <div class="card-details">
                        <h3>Type: {{ property[1] }}</h3>
                        <p>Description: {{ property[4] }}</p>
                        <p>Price: ${{ property[3] }}</p>
                        <p>Aprox. date: {{ property[7] }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Knight Realty. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
